/* ======== HEADER SOCIALS styling===== */
.hero-container{
    display: flex;
    justify-content: space-between;
    background-image: url("../../assets/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}






