.reserve {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.seatContainer{
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  height: 100%;
  }

  .article{
    margin-top: 2.5rem;
  }

  .steering-image{
    height: 2.5rem;
  }
  .seat1{
    margin-left: 22rem;
    display: block;
    margin-top: -2.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }

  .seat2{
    margin-top: 5rem;
    display: block;
    top: -4rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }

  .seat3{
    margin-left: 5rem;
    display: block;
    margin-top: -1.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }

  .seat4{
    margin-left: 12rem;
    display: block;
    margin-top: -1.5rem;
    color: white;
    width: 4rem;
   height: 1.5rem
  }
  .seat5{
    margin-top: 1.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }

  .seat6{
    margin-left: 5rem;
    display: block;
    margin-top: -1.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }
  .seat7{
    margin-left: 22rem;
    display: block;
    margin-top: -1.5rem;
    color: white;

    width: 4rem;
    height: 1.5rem
    
  }
  .seat8{
    margin-top: 1.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }

  .seat9{
    margin-left: 5rem;
    display: block;
    margin-top: -1.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }
  .seat10{
    margin-left: 22rem;
    display: block;
    margin-top: -1.5rem;
    color: white;
    width: 4rem;
    height: 1.5rem
  }


.bookContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.rButton {
  border: none;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: .8rem;
  width: 100%;
  height: 2rem;
}
.booked-seat{
  background-color: grey;
border-radius: 1rem;
  width: 3rem;
  height: 1rem;
  margin-top: 0.2rem;
}
.available-seat{
  background-color: teal;
  border-radius: 1rem;
    width: 3rem;
    height: 1rem; 
    margin-top: 0.2rem;
}
.selected-seat{
  background-color: orange;
  border-radius: 1rem;
    width: 3rem;
    height: 1rem; 
    margin-top: 0.2rem;
}
button{
  border-radius: 1rem;
}

@media screen and (max-width: 810px) {
   
  .seatContainer{
    padding: 0rem 1.5rem 0rem 1.5rem;
 
      }
      .article-Two{
       
        gap: 2.5rem;
      }
}


  @media screen and (max-width: 768px) {
   
    .seatContainer{
      padding: 0rem 1.5rem 0rem 1.5rem;
   
        }
      
        .article-Two{
         
          gap: 2.5rem;
        }

        .seat1{
          margin-left: 13rem;
        }
        .seat2{
          margin-top: 5rem;
        }

        .seat3{
          margin-left: 5rem;
        }

        .seat4{
          margin-left: 10rem;
       
        }

        .seat5{
          margin-top: 1.5rem;
        }
      
        .seat6{
          margin-left: 5rem;

        }

        .seat7{
          margin-left: 15rem;

        }

        .seat8{
          margin-top: 1.5rem;
        }
      
        .seat9{
          margin-left: 5rem;
        }
        .seat10{
          margin-left: 15rem;
        }

}

  /* @media screen and (max-width: 650px) {
    
    .seatContainer{
      padding: 0rem 1.5rem 0rem 1.5rem;
   
        }
      
} */
  /* @media screen and (max-width: 375px) {
  
    .seats-availabilties{
      font-size: .9rem;
    }
    .seatContainer{
      padding: 0rem 1.5rem 0rem 1.5rem;
   
        }
       
        .article-Two{
          gap: .5rem;
        }
} */
