 
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;1,300&display=swap'); */

body{
    margin: 0;
    padding: 0;
  
    color: black;
    background-color: white;
}






